@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-neue-montreal);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-background: var(--primary-background);

  --color-primary-300: var(--primary-300);
  --color-primary-500: var(--primary-500);
 
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-destructive: var(--destructive);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --shadow-brand-lg:var(--brand-lg);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.9546 0.008 293.91);
  --foreground: oklch(0.2478 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2478 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2478 0 0);

  --primary: oklch(0.3328 0.2202 268.85);
  --primary-foreground: oklch(0.397 0.1225 287.31);
  --primary-background: oklch(0.2897 0.0811 286.14);

  --primary-300: oklch(0.7504 0.1349 286.52);
  --primary-500: oklch(0.555 0.2082 280.96);

  --secondary: oklch(0.6434 0.2036 39.55);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.5279 0.0374 288.87);

  --accent: oklch(0.5981 0.2724 303.86);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --brand-lg: 
    0 1px 1px 0 oklch(0.4034 0.2596 267.98 / 15%),
    0 3px 3px -1px oklch(0.4034 0.2596 267.98 / 13%),
    0 6px 4px -1.5px oklch(0.4034 0.2596 267.98 / 10%),
    0 10px 6px -2px oklch(0.4034 0.2596 267.98 / 6%),
    0 16px 8px -2px oklch(0.4034 0.2596 267.98 / 2%); 
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  p {
    @apply leading-relaxed -tracking-[0.02em];
  }

  h1, h2, h3, h4, h5, h6, a {
    @apply -tracking-[0.0165em];
  }
}


@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;

  @media (width >= 64rem /* 1024px */) {
    padding-inline: 2rem;
    max-width: 68rem;
  }

  @media (width >= 80rem /* 1280px */) {
    padding-inline: 2.25rem;
    max-width: 82rem;
  }
  @media (width >= 96rem /* 1536px */) {
    padding-inline: 4rem;
    max-width: 98rem;
  }
  @media (width >= 120rem /* 1536px */) {
    padding-inline: 5rem;
    max-width: 120rem;
  }
}